<h1>New rollover</h1>

<% form_for(@rollover) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :active %><br />
    <%= f.text_field :active %>
  </p>
  <p>
    <%= f.label :inactive %><br />
    <%= f.text_field :inactive %>
  </p>
  <p>
    <%= f.label :over %><br />
    <%= f.text_field :over %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', rollovers_path %>
