<p>
  <b>Active:</b>
  <%=h @rollover.active %>
</p>

<p>
  <b>Inactive:</b>
  <%=h @rollover.inactive %>
</p>

<p>
  <b>Over:</b>
  <%=h @rollover.over %>
</p>


<%= link_to 'Edit', edit_rollover_path(@rollover) %> |
<%= link_to 'Back', rollovers_path %>
